
@{
    ViewData["Title"] = "ProductIndex";
    List<Product> Products = (List<Product>)ViewData["Products"];
}

<div class="text-justify">
    <h1 class="display-4">Horchateria's Menu:</h1>
    <ul>
        @foreach (Product p in Products)
        {
            <li><a href="/Product/Cat?cat=@p.Category">@p.Category</a></li>
        }
    </ul>
</div>

