@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">HORCHATERIA</h1>
</div>


<div class="container" align="center">
    <div class="row">
        <div class="col">
            <img src="~/horchata.gif" alt="horchata" width="340" height="440">
        </div>
        <div class="col" align="center">
            <div class="text-center">
                <br /><br />
                <div class="justify-content-xl-center"
                    <h1 class="display-2">¡NUESTRA CASA ES SU CASA!</h1>
                    <h1 class="display-2">@Html.ActionLink("REGISTER HERE!", "Register")</h1>
                    <br />
                </div>
                <p><a href="http://www.horchateriarl.com/" target="_blank">http://www.horchateriarl.com/</a></p>
            </div>

        </div>
    </div>

</div>